{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">

<div class="auth-container">
  <div class="auth-box">
    <h3>Welcome Back 👋</h3>
    <form method="POST">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button>Login to Dashboard</button>
    </form>

    <div class="auth-divider">OR</div>

    <p>No account? <a href="/signup">Create one</a></p>
  </div>
</div>

{% endblock %}