{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">

<div class="auth-container">
  <div class="auth-box">
    <h3>Create Account ✨</h3>

    <form id="signupForm">
        <input id="email" type="email" placeholder="Enter Email" required>

        <div class="input-group">
            <input id="password" type="password" placeholder="Password" required>
            <span class="toggle-pass" id="togglePass">Show</span>
        </div>

        <button type="submit">Create Account</button>
    </form>

    <p>Already have account? <a href="/login">Login</a></p>
  </div>
</div>

<script type="module" src="{{ url_for('static', filename='signup.js') }}"></script>

{% endblock %}